DATABASE_URL_POOLING=
DATABASE_URL_DIRECT=
AUTH_SECRET=some-random-secret-key
AUTH_GOOGLE_CLIENT_ID=<12-numbers>-<base64-like-string>.apps.googleusercontent.com
AUTH_GOOGLE_CLIENT_SECRET=GOCSPX-<base64-like-string>
