export DATABASE_URL_DIRECT=$(gcloud secrets versions access latest --secret=database-url-direct --project=prepify-dev-vk)
export DATABASE_URL_POOLING=$(gcloud secrets versions access latest --secret=database-url-pooling --project=prepify-dev-vk)
